$text_color : #aaa;
$border_radius : 4px;
$border_size : 1px;
$border_color : #444;
$border_style : $border_size solid $border_color;
$icon_size : 24px;
$button_color : rgba(255, 255, 255, 0.5);
$button_color_hover : #ddd;
$spacing : 10px;
$bar_height : 8px;
$bar_radius : 2px;
$bar_background : #4a4a4a; //rgba(256, 256, 256, 0.3);
$bar_color : #aaa;

/* TAG ELEMENTS STYLES */
* {
    font-family : 'Source Sans Pro', Arial, sans-serif;
}

body {
    -webkit-font-smoothing : antialiased;
    margin                 : 0;
    overflow               : hidden;
    color                  : $text_color;
    background-color       : #000;
    -webkit-touch-callout  : none;
    -webkit-user-select    : none;
    -moz-user-select       : none;
    -ms-user-select        : none;
    user-select            : none;
}

html, body {
    width  : 100%;
    height : 100%;
}

canvas {
    display : block;
    height  : 100vh;
    width   : 100vw;
    margin  : 0;
}

a:link, a:hover, a:visited, a:active {
    text-decoration : none !important;
}

a:visited, a:active {
    color : $button_color !important;
}

button {
    background-color   : rgba(256, 256, 256, 0.1);
    border             : $border_style;
    padding            : 2px 10px;
    color              : $text_color;
    -moz-transition    : all .2s ease-in;
    -o-transition      : all .2s ease-in;
    -webkit-transition : all .2s ease-in;
    transition         : all .2s ease-in;

    &:hover {
        background-color : $bar_color;
        border-color     : $bar_color;
        color            : #000;
    }

    &:focus {
        outline : 0;
    }
}

input[type="date"], input[type="time"] {
    &::-webkit-clear-button {
        display : none;
    }

    &::-ms-clear {
        display : none;
    }
}

input[type="date"], input[type="time"], select {
    height           : 20px;
    background-color : rgba(256, 256, 256, 0.1);
    border           : $border_style;
    color            : $text_color;
}

option {
    color : #222;
}

fieldset {
    border           : $border_style;
    border-radius    : $border_radius;
    background-color : rgba(256, 256, 256, 0.075);
    padding-bottom   : $spacing / 2; /* NOTE: this padding + checkboxes' margin-bottom gives a correct $spacing value */
    margin-bottom    : $spacing;

    label {
        margin-right : $spacing;

        &:last-of-type {
            margin-right : 0; /* NOTE: to avoid double spacing on the right side of the fieldset! */
        }
    }
}

label {
    text-align : left !important;

    br {
        margin      : 0 !important;
        padding     : 0;
        line-height : 0;
        visibility  : hidden;
    }
}

legend {
    padding       : 0.2em 0.5em;
    border        : $border_style;
    border-radius : $border_radius;
    color         : $text_color;
    font-size     : 90%;
    text-align    : left;
    background    : black;
}

label input[type="checkbox"] {
    position       : relative;
    vertical-align : middle;
    bottom         : 1px;
    margin         : ($spacing / 2) 0;
}

/* the trick to make cross-browser fill the left part of the slider is taken from https://codepen.io/noahblon/pen/OyajvN */
input[type="range"] {
    -webkit-appearance : none;
    width              : 100%;
    height             : $bar_height;
    border-radius      : $bar_radius;
    background         : $bar_background;
    outline            : none;
    overflow           : hidden; /* NOTE: we hide the box-shadow of the thumb, obtaining the desired fill effect */
    margin             : 0;

    &::-webkit-slider-thumb {
        -webkit-appearance : none;
        width              : 0;
        height             : $bar_height;
        background         : $bar_color;
        cursor             : pointer;
        box-shadow         : -100vw 0 0 100vw $bar_color;
    }

    &::-moz-range-thumb {
        width      : 0;
        height     : $bar_height;
        background : $bar_color;
        cursor     : pointer;
        box-shadow : -100vw 0 0 100vw $bar_color;
    }

    &::-moz-range-track {
        height : 0;
    }
}

/* CLASSES STYLES */
.menu {
    background-color : rgba(0, 0, 0, 0.5);
    padding          : $spacing;
    position         : absolute;
    border           : $border_style;
}

.settings {
    display     : none;
    font-size   : 14px;
    font-weight : 600;
}

.button {
    padding  : 0;
    position : relative;
    height   : $icon_size;

    a {
        font-size          : x-large !important;
        text-decoration    : none;
        color              : $button_color;
        -moz-transition    : all .2s ease-in;
        -o-transition      : all .2s ease-in;
        -webkit-transition : all .2s ease-in;
        transition         : all .2s ease-in;

        &:hover {
            color : $button_color_hover;
        }
    }

    &:hover .tooltip {
        visibility : visible;

        &:hover {
            visibility : hidden;
        }
    }
}

.fas, .fa-times {
    height     : $icon_size;
    text-align : center;
}

.fa-play:hover {
    color : mix(darkgreen, lime) !important;
}

.fa-pause:hover {
    color : mix(orange, yellow) !important;
}

.fa-times:hover {
    color : red !important;
}

.logo {
    font-family : 'Orbitron', 'Source Sans Pro', Arial, sans-serif;
}

.tooltip {
    min-width        : 80px;
    visibility       : hidden;
    background-color : rgba(0, 0, 0, 0.8);
    color            : $text_color;
    text-align       : center;
    border           : $border_style;
    border-radius    : $border_radius;
    padding          : 5px;
    position         : absolute;
    z-index          : 1;
    font-size        : 12px;
    font-weight      : 600;
    display          : inline-block !important;
}

.tooltip-left {
    top          : -2px;
    right        : 110%;
    margin-right : 4px;

    &::after {
        content           : "";
        position          : absolute;
        top               : 50%;
        left              : 100%;
        margin-top        : -5px;
        margin-left       : $border_size; /* avoids overlap tooltip-text border! */
        border            : 5px solid transparent;
        border-left-color : $border_color;
    }
}

.tooltip-bottom {
    top         : 125%;
    left        : -110%;
    margin-left : 1px;

    &::after {
        content             : "";
        position            : absolute;
        bottom              : 100%;
        left                : 50%;
        margin-left         : -5px;
        margin-bottom       : $border_size;
        border              : 5px solid transparent;
        border-bottom-color : $border_color;
    }
}

.object-label {
    font-size   : small;
    display     : block;
    position    : absolute;
    text-shadow : 0 0 10px #000;
    top         : 0;
    left        : 0;
}

/* ID STYLES */
#loading-screen {
    position   : absolute;
    width      : 100vw;
    height     : 100vh;
    background : black;
    z-index    : 10000;
    text-align : center;

    > * {
        width   : 250px;
        display : block;
    }

    p {
        &#loading-logo {
            margin : 47vh auto 5px auto;
        }

        &#loading-text {
            margin    : 5px auto 47vh auto;
            font-size : 10pt;

            &:after {
                content   : '.';
                animation : dots 1s steps(5, end) infinite;
            }
        }
    }

    progress {
        -webkit-appearance : none;
        -moz-appearance    : none;
        margin             : 0 auto;
        animation          : progress-indeterminate 1.5s linear infinite;
        background         : $bar_background linear-gradient(to right, $bar_color 30%, $bar_background 30%) top left / 150% 150% no-repeat;
        border             : 0;
        height             : $bar_height;
        border-radius      : $bar_radius;

        &::-webkit-progress-bar {
            background : transparent !important;
        }

        &::-moz-progress-bar {
            background : transparent !important;
        }
    }

    @keyframes progress-indeterminate {
        0% {
            background-position : 200% 0;
        }
        100% {
            background-position : -200% 0;
        }
    }

    @keyframes dots {
        0%, 20% {
            color       : rgba(0, 0, 0, 0);
            text-shadow : .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
        }
        40% {
            color       : $text_color;
            text-shadow : .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
        }
        60% {
            text-shadow : .25em 0 0 $text_color, .5em 0 0 rgba(0, 0, 0, 0);
        }
        80%, 100% {
            text-shadow : .25em 0 0 $text_color, .5em 0 0 $text_color;
        }
    }
}

#datetime-menu {
    top                        : 0;
    left                       : 50%;
    -webkit-transform          : translateX(-50%);
    transform                  : translateX(-50%);
    border-bottom-left-radius  : $border_radius;
    border-bottom-right-radius : $border_radius;
    border-top                 : none;
    z-index                    : 1000;

    #datetime-bar {
        position : relative;
        height   : $icon_size;

        > div {
            display        : inline-block;
            position       : relative;
            vertical-align : middle;
        }

        #current-datetime {
            margin-left  : 5px;
            margin-right : 5px;
            line-height  : $icon_size;
        }

        > span {
            line-height : $icon_size;
        }
    }

    #datetime-settings {
        width      : 100%;
        margin-top : $spacing;

        br {
            content     : " ";
            display     : block;
            margin      : 5px 0 0 0;
            line-height : 5px;
        }

        #datetime-form {
            text-align : center;
        }
    }
}

#settings-menu {
    bottom                 : 0;
    border-bottom          : none;
    border-right-style     : none;
    border-top-left-radius : $border_radius;
    right                  : 0;
    z-index                : 1000;

    .logo {
        margin         : 0;
        padding-bottom : 2px;
        height         : $icon_size;
        line-height    : $icon_size;
    }
}

#look-at {
    margin-bottom : $spacing / 2;
}

#scale-range {
    margin-bottom : $spacing;
}

#settings-btn {
    position   : absolute;
    bottom     : $spacing;
    right      : $spacing;
    text-align : center;
    z-index    : 2000;
}

#look-from-label, #follow-target-label {
    display : none;
}